BODY {
	COLOR: rgb(0,0,0); FONT-FAMILY: "Trebuchet MS", Trebuchet, "Lucida Sans", Verdana, Arial, Helvetica, Helvet, sans-serif; BACKGROUND-COLOR: rgb(255,255,255)
}
A {
	FONT-WEIGHT: bold; COLOR: rgb(0,0,51); BORDER-BOTTOM: rgb(0,0,51) 1px solid; TEXT-DECORATION: none
}
A:visited {
	FONT-WEIGHT: bold; COLOR: rgb(0,0,51); BORDER-BOTTOM: rgb(0,0,51) 1px solid; TEXT-DECORATION: none
}
A:active {
	FONT-WEIGHT: bold; COLOR: rgb(0,0,51); BORDER-BOTTOM: rgb(0,0,51) 1px solid; TEXT-DECORATION: none
}
A:hover {
	COLOR: rgb(51,51,102); BORDER-BOTTOM: rgb(51,51,102) 1px solid; TEXT-DECORATION: none
}
#pagehead {
	FONT-FAMILY: "Trebuchet MS", Trebuchet, "Lucida Sans", Verdana, Arial, Helvetica, Helvet, sans-serif; BACKGROUND-COLOR: rgb(255,255,255)
}
#pagehead H1 {
	
}
#pagehead P {
	
}
#pagemenu {
	TEXT-ALIGN: left
}
#pagemenu UL {
	MARGIN: 0px 10px
}
#pagemenu UL LI {
	
}
#pagemenu A {
	COLOR: rgb(0,0,0); FONT-FAMILY: Arial, Helvetica, Helvet, Geneva, "Lucida Sans", sans-serif; TEXT-DECORATION: underline
}
#pagemenu A:hover {
	COLOR: rgb(0,0,0); BACKGROUND-COLOR: rgb(255,255,255)
}
#pagemenu A:active {
	COLOR: rgb(0,0,0); BACKGROUND-COLOR: rgb(255,255,255)
}
#pagebody {
	MARGIN-RIGHT: 1em; FONT-FAMILY: "Trebuchet MS", Trebuchet, "Lucida Sans", Verdana, Arial, Helvetica, Helvet, sans-serif
}
#pagebody H1 {
	
}
#pagebody H2 {
	BORDER-BOTTOM: rgb(0,0,0) 1px solid
}
#pagebody H2 A {
	
}
#pagebody H3 {
	BORDER-BOTTOM: rgb(153,153,153) 1px dotted
}
#pagebody H3 A {
	
}
#pagebody P {
	
}
#pagebody LI {
	
}
#pagebody .published {
	BORDER-RIGHT: rgb(0,0,0) 2px solid; BORDER-TOP: rgb(0,0,0) 2px solid; BORDER-LEFT: rgb(0,0,0) 2px solid; COLOR: rgb(255,255,255); BORDER-BOTTOM: rgb(0,0,0) 2px solid; BACKGROUND-COLOR: rgb(0,0,0)
}
.newslink A {
	FONT-WEIGHT: bold; COLOR: rgb(0,0,51); BORDER-BOTTOM: rgb(0,0,51) 1px solid
}
.newslink A:visited {
	FONT-WEIGHT: bold; COLOR: rgb(0,0,51); BORDER-BOTTOM: rgb(0,0,51) 1px solid
}
.newslink A:active {
	FONT-WEIGHT: bold; COLOR: rgb(0,0,51); BORDER-BOTTOM: rgb(0,0,51) 1px solid
}
.newslink A:hover {
	COLOR: rgb(51,51,102); BORDER-BOTTOM: rgb(51,51,102) 1px solid
}
#pagebar {
	MARGIN-TOP: 45px; RIGHT: 0px; MARGIN-LEFT: 18px; WIDTH: auto; MARGIN-RIGHT: 45px; FONT-FAMILY: "Trebuchet MS", Trebuchet, "Lucida Sans", Arial, Verdana, Geneva, Helvetica, Helvet, sans-serif; POSITION: static; TOP: 0px
}
#pagebar H1 {
	BORDER-TOP: rgb(153,153,153) 1px dotted
}
#pagebar H2 {
	BORDER-TOP: rgb(153,153,153) 1px dotted
}
#pagebar IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#pagebar P {
	
}
#pagebar A {
	COLOR: rgb(51,51,51); TEXT-DECORATION: underline
}
.content {
	BORDER-RIGHT: rgb(102,102,102) 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: rgb(102,102,102) 1px solid; PADDING-LEFT: 1em; PADDING-BOTTOM: 1em; BORDER-LEFT: rgb(102,102,102) 1px solid; PADDING-TOP: 1em; BORDER-BOTTOM: rgb(102,102,102) 1px solid; BACKGROUND-COLOR: rgb(255,255,255)
}
.clear {
	
}
